<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value) %>
<% end %>
<% if @current_user %>
  Signed in as <%= @current_user.full_name %>
  <button type="submit"><%= link_to 'Logout', session_path(@current_user.id), method: :delete %></button>
  <% else %>
  <button type="submit"><%= link_to 'SignUp', new_user_path %>"></button>
  <button type="submit"><%= link_to 'LogIn', new_session_path %>"</button>
<% end %>
<%= yield %>

</body>
</html>
