<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value) %>
<% end %>
<% if @current_user %>
  <%= @current_user.firstname %>
  <button type="submit"><%= link_to 'Logout', session_path(@current_user.id), method: :delete %></button>
  <% else %>
  <button type="submit"><a href="<%= new_user_path %>">SignUp</a></button>
  <button type="submit"><a href="<%= new_session_path %>">LogIn</a></button>
<% end %>
<%= yield %>

</body>
</html>
